* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

html {
    background-color: #112;
}

body {
    width: 1000px;
    height: 1400px;
    margin: 2em auto;
    background-color: white;
    border: 5px solid rgb(0, 0, 0);
}

/* Cabecera */
#header {
    width: 1000px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    line-height: 100px;
    color: white;
    display: block;
    text-emphasis-color: #112;
}

/* Menu */
#menu {
    margin: 0;
    width: 1000px;
    height: 50px;
    display: block;
    background: white;
}

#menu ul li {
    display: block;
    float: left;
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: none;
    border-top: none;
    text-align: center;
    transition: 1s;
}

#menu ul li a {
    color: rgb(77, 26, 26);
    font-size: 20px;
    font-weight: 100px;
}

#menu ul li:nth-child(1) {
    border-left: none;
}

#menu ul li:nth-child(4) {
    border-right: 3px solid rgb(0, 0, 0);
}


/* Section left */
#principal {
    width: 600px;
    height: 1200px;
    float: left;
    text-align: center;
    line-height: 40px;
    border-right: 5px;
    border-right-style: solid 2px;
}

/* Cajas */
.caja,
.caja-sombra-interior {
    width: 250px;
    height: 250px;
    background: grey;
    display: block;
    float: left;
    margin: 23px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;
    line-height: 235px;
    color: white;
    box-shadow: 3px 3px 20px #111a;
    transition: 3s;
}

.caja:hover {
    background: linear-gradient(0deg, grey, rgb(8, 8, 8));
}

.caja:active {
    box-shadow: 2px 2px 20px #111a inset;
}

.caja-sombra-interior {
    box-shadow: 2px 2px 20px #111a inset;
}

/* LATERAL DERECHO */
#lateral {
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-style: italic;
    font-weight: 150;
    font-stretch: normal;
    margin-left: 2em;
    margin-right:3em;
    margin-left: 2em;
    margin-top: 2rem;
    margin-bottom: 2em;
}

.texto-lateral h2,
p {
    text-align: justify;
    font-style: normal;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;
    font-size: 14px;
}
